<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./assets/vue.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Sneakers</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <img src="assets/images/logo.svg" alt="logo" class="logo">
        <div class="carrinho_menu">
          {{carrinhoTotal}} |
        </div>
      </header>

      <section class="produtos">
        <div v-for="produto in produtos" class="produto">
          <img
            :src="produto.img"
            :alt="produto.nome"
            :key="produto.id"
            class="produto_img"
          />
          <div class="produto_info">
            <div class="detalhes_item">
              <span class="produto_titulo">{{produto.nome}}</span>
              <span class="produto_preco">{{+produto.preco | numeroPreco}}</span>
            </div>
              <span class="produto_descricao">{{produto.descricao}}</span>
          </div>
          <div class="btn_checkout" @click="abrirModal(produto.id)">Comprar</div>
        </div>
      </section>

      <section class="modal" v-if="produto" @click="fecharModal">
        <div class="modal_container">
          <div class="modal_img">
            <img :src="produto.img" :alt="produto.nome">
          </div>
          <div class="modal_dados">
            <button class="modal_fechar" @click="produto = false">X</button>
            <span class="modal_titulo">{{produto.nome}}</span>
            <span class="modal_descricao">{{produto.descricao}}</span>
            <span class="modal_preco">{{+produto.preco | numeroPreco}}</span>
            <button class="adicionar_cart">Adicionar Item</button>
          </div>
        </div>
      </section>
    </div>

    <script src="/assets/script/script.js"></script>
  </body>
</html>
