@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #000000;
  background: -webkit-linear-gradient(to right, #ffffff, #9c9c9c);
  background: linear-gradient(to right, #ffffff, #9c9c9c);
}

#app {
  padding: 0 50px;
}

/*  HEADER */

.header {
  display: flex;
  justify-content: space-between;
  color: #000;
  max-width: 900px;
  padding: 20px 0;
  margin: 0 auto;
}

.carrinho_menu::after {
  content: "";
  display: inline-block;
  background: url("../images/shopping-cart.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.carrinho_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.esgotado {
  background: #808080 !important;
  font-weight: bold;
}

.login {
  cursor: pointer;
}

/* LISTA PRODUTOS */

.produtos {
  max-width: 900px;
  margin-left: 60px;
}

.produto {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-top: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.9);
}

.produto img {
  cursor: pointer;
  width: 200px;
}

.produto_info {
  color: #272323;
  display: flex;
  flex-direction: column;
}
.detalhes_item {
  display: flex;
  flex-direction: column;
}

.produto_titulo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.btn_checkout {
  margin-right: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid rgb(27, 27, 27);
  color: #272323;
  font-weight: bold;
  cursor: pointer;
}
.btn_checkout:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}

.produto_preco {
  margin: 10px 0;
  font-size: 1.3rem;
}

/* MODAL */

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal_container {
  width: 700px;
  height: 400px;
  background-color: #fff;
  color: #272323;
  display: flex;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

.modal_img {
  display: flex;
  align-items: center;
}

.modal_img img {
  margin: 10px;
  margin-right: 20px;
  width: 250px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
}

.modal_dados {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.modal_titulo {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal_descricao {
  font-size: 1.2rem;
}

.modal_preco {
  font-size: 1.8rem;
}

.adicionar_cart {
  margin-right: 40px;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 15px 25px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  letter-spacing: 0.1rem;
}

.adicionar_cart:active {
  background-color: #9c9c9c;
  color: #fff;
}

.modal_fechar {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #000;
  height: 50px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
}

/* mensagem alerta */

.alerta {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 10;
  text-align: center;
  display: none;
}
.alerta.ativo {
  display: block;
  animation: fadeInDown 0.5s forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.alerta_mensagem {
  background-color: #fff;
  color: #000;
  display: inline-block;
  padding: 20px 40px;
  border: 2px solid #000;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

/* Carrinho modal */

.carrinho_modal::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.carrinho_modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  display: none;
  color: #000;
}

.carrinho_modal.ativo {
  display: block;
}

.carrinho_container {
  position: relative;
  margin: 80px auto;
  background: #fff;
  padding: 40px;
  max-width: 800px;
  animation: fadeInDown 0.4s forwards;
}

.carrinho_item {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.carrinho_titulo {
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
}

.carrinho_remover {
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  background: none;
}

.carrinho_preco {
  text-align: right;
}

.carrinho_total {
  text-align: right;
  padding: 10px 50px 10px 0;
  font-size: 1.3rem;
  border-bottom: 2px solid #000;
}

.carrinho_finalizar {
  display: block;
  margin-left: auto;
  background: #000;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  padding: 10px 25px;
  border: none;
  font-family: "Lato", sans-serif, Arial, Helvetica;
  margin-top: 20px;
}
.carrinho_finalizar:active {
  background-color: #9c9c9c;
  color: #fff;
}

.carrinho_fechar {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #000;
  height: 50px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
}

.carrinho_vazio {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3rem;
}

/* Modal Login */

.login_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
}
.login_container.ativo {
  display: flex;
  overflow-y: hidden;
}

.login_modal {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_modal h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  color: #272323;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 20px 0;
  font-weight: 700;
}

.login_modal input {
  display: block;
  padding: 10px 5px;
  width: 280px;
  margin: 20px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #646464;
}

.login_modal .entrar {
  font-family: sans-serif;
  display: block;
  padding: 15px;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  border-radius: 5px;
  background: #000000;
  background: linear-gradient(to right, #c5c5c5, #646464);
}

.login_register {
  text-align: center;
  color: #000;
  margin-top: 20px;
}

.login_register p {
  cursor: pointer;
  margin-top: 10px;
}
