@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #000000;
  background: -webkit-linear-gradient(to right, #ffffff, #9c9c9c);
  background: linear-gradient(to right, #ffffff, #9c9c9c);
}

#app {
  padding: 0 50px;
}

/*  HEADER */

.header {
  display: flex;
  justify-content: space-between;
  color: #000;
  max-width: 900px;
  padding: 20px 0;
  margin: 0 auto;
}

.carrinho_menu::after {
  content: "";
  display: inline-block;
  background: url("../images/shopping-cart.svg") no-repeat center center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.carrinho_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.esgotado {
  background: #808080 !important;
  font-weight: bold;
}

/* LISTA PRODUTOS */

.produtos {
  max-width: 900px;
  margin-left: 60px;
}

.produto {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-top: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.9);
}

.produto img {
  cursor: pointer;
  width: 200px;
}

.produto_info {
  color: #272323;
  display: flex;
  flex-direction: column;
}
.detalhes_item {
  display: flex;
  flex-direction: column;
}

.produto_titulo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.btn_checkout {
  margin-right: 40px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid rgb(27, 27, 27);
  color: #272323;
  font-weight: bold;
  cursor: pointer;
}
.btn_checkout:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.produto_preco {
  margin: 10px 0;
  font-size: 1.3rem;
}

/* MODAL */

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal_container {
  width: 700px;
  height: 400px;
  background-color: #fff;
  color: #272323;
  display: flex;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3D(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3D(0px, 0, 0);
  }
}

.modal_img {
  display: flex;
  align-items: center;
}

.modal_img img {
  margin: 10px;
  margin-right: 20px;
  width: 250px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
}

.modal_dados {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.modal_titulo {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.modal_descricao {
  font-size: 1.2rem;
}

.modal_preco {
  font-size: 1.8rem;
}

.adicionar_cart {
  margin-right: 40px;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 15px 25px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  letter-spacing: 0.1rem;
}

.adicionar_cart:active {
  background-color: #9c9c9c;
  color: #fff;
}

.modal_fechar {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #000;
  height: 50px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.9);
}
